# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules
/.pnp
.pnp.js

# package lock (optional)
/package-lock.json
/yarn.lock

# testing
/coverage

# production
/build

# system files
.DS_Store
Thumbs.db

# environment variables
.env
config.py 
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/workspace settings
.vscode/
.idea/
*.swp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
debug.log

# temporary files
.temp/
.vercel
